# Ignore .env files
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore serverless deployment artifacts
.serverless/
.aws-sam/

# Ignore Node.js dependencies
node_modules/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log